@model TaskManager20000ProPlusUltra.TaskManagerDatabase.Client

@{
    ViewBag.Title = "Client";
}

<h2>Client</h2>

@*TODO*@
<h1>TODO see some personal info</h1>
<h1>TODO see the list of Current/Completed projects</h1>