@model TaskManager20000ProPlusUltra.TaskManagerDatabase.Manager

@{
    ViewBag.Title = "Manager";
    var allProjectsLinkTxt = "All projects";
    if(1==1){
        allProjectsLinkTxt = "My projects";    
    }
}

<h2>Manager</h2>

<h3>Hello @ViewBag.Manager.User.FirstName @ViewBag.Manager.User.LastName</h3>


<a href="/Manager/Projects">@allProjectsLinkTxt</a>

<a href="/Manager/Teams">My teams</a>

<a href="/Manager/CurrentProjects">Current projects</a>
<a href="/Manager/CompletedProjects">Completed projects</a>

