@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    National University of Kyiv-Mohyla Academy<br />
    <abbr title="Phone">0631112233</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@taskturbopro.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@taskturbopro.com</a>
</address>