@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<br />
<h1><b>TaskTurboPlus Company</b></h1><br /><br />

<address>
    <strong>Мanager:</strong> <a href="warriors-of-the-integral@googlegroups.com">E-mail</a><br />
    <strong>Our address:</strong> <a href="ukma.edu.ua"> 2 G. Scovoroda street, Kiev (04655), Ukraine </a> <br />
    <strong><abbr title="Our phone">P:</abbr></strong> +380998887766 <br />
</address>

<address>
    National University of Kyiv-Mohyla Academy<br />
    <abbr title="Phone">0631112233</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@taskturbopro.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@taskturbopro.com</a>
</address>