@model TaskManager20000ProPlusUltra.TaskManagerDatabase.Employee

@{
    ViewBag.Title = "Employee";
}

<h2>Employee </h2>

<h3>Greetings @ViewBag.Employee.EmployeeId!!!</h3>

<a href="/Employee/Tasks">Current tasks</a>
<a href="/Employee/Tasks">Completed tasks</a>
@*TODO*@

<h1>TODO see some personal info</h1>
<h1>TODO see the list of Current/Completed tasks maybe sorted by deadline</h1>
<h1>TODO current task should have complete task button</h1>
