@model TaskManager20000ProPlusUltra.TaskManagerDatabase.Employee

@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

@*TODO*@
<h1>TODO see some personal info</h1>
<h1>TODO see the list of Current/Completed tasks maybe sorted by deadline</h1>
<h1>TODO current task should have complete task button</h1>

<h2>[OPTIONAL] do some ajax</h2>

