@model TaskManager20000ProPlusUltra.TaskManagerDatabase.Employee

@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<h3>Greetings @ViewBag.User.FirstName @ViewBag.User.LastName!!!</h3>
<h4>Interesting fact about you: @ViewBag.User.Description</h4>

<h3><a href="/Employee/CurrentTasks">Current tasks</a></h3>
<h3><a href="/Employee/CompletedTasks">Completed tasks</a></h3>